<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"></link>
    <link rel="stylesheet" type="text/css" href="http://unpkg.com/dc@3/dc.css"></link>
</head>
<body>
    <div id="charts">
      <div id="chart1"></div>
      <div class="col2">
        <div id="chart2"></div>
        <div id="chart3"></div>
        <div id="chart4"></div>
      </div>

      <div class="col2">
        <div id="chart5"></div>
        <div id="chart6"></div>
      </div>
    </div>

    <script src="/static/build/bundle.js"></script>
    <script>
      initVisualization({{ data | safe }});
    </script>
</body>
</html>
